use nix

if [[ $(cat ./secrets/initialized) == "initialized" ]]; then
  echo "git-crypt is initialized. Sourcing the secrets."
else
  echo -e "\033[0;31m.-----------------------------.\033[0m"
  echo -e "\033[0;31m|                             |\033[0m"
  echo -e "\033[0;31m|  git-crypt not initialized  |\033[0m"
  echo -e "\033[0;31m|                             |\033[0m"
  echo -e "\033[0;31m'-----------------------------'\033[0m"
fi

terraform init
