exclude: "secrets/.*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude_types: [markdown]
      - id: end-of-file-fixer
        exclude: terraform-output.json
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/nix-community/nixpkgs-fmt/
    rev: v1.3.0
    hooks:
      - id: nixpkgs-fmt

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.83.3
    hooks:
      - id: terraform_fmt
      - id: terraform_docs
      - id: terraform_tflint
      - id: terraform_tfsec
      - id: terraform_validate
