name: Lint

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@v10
        with:
          fail-mode: true

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v18

      - name: Run pre-commit
        run: nix develop --command pre-commit run --all --verbose
